/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #999;
    text-shadow: none;
}

::selection {
    background: #999;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}

@-webkit-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@-o-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@-moz-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}

@-webkit-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}

html, body {
  height: 100%;
  font-family: 'Nova Mono', "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, cursive;
}

html {
  overflow-y: scroll;
}

body {
  backgroud: #ecf0f1;
}

a {
  color: #333;
}

.main_nav {
  position: absolute;
  z-index: 10000;
  top: 30px;
  right: 30px;
  width: 140px;
  height: 140px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  -webkit-box-shadow: rgba(51, 51, 51, 0.5) 0 5px 10px;
  box-shadow: rgba(51, 51, 51, 0.5) 0 5px 10px;
}
.main_nav:hover {
  -webkit-box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
  box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
}

.main_nav_list {
  background: url(../img/bg.svg) center no-repeat;
  background-size: contain;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 140px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.main_nav_list_item {
  margin: 0;
  padding: 0;
  width: 60px;
  margin-left: -30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

li.nav_home {
}
li.nav_works {
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
li.nav_profile {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

.main_nav_list_item a {
  margin-top: 10px;
  padding: 5px 0;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.page {
  position: absolute;
  top: 0;
  width: 100%;
}

.page_inner {
  width: 90%;
  padding: 0 5%;
}

body {
  min-height: 100%;
}

body, body.home {
  background: #ecf0f1;
}

body.works {
  background: #2980b9;
}

body.profile {
  background: #e74c3c;
}

/*
 * home
 */
#home {
  min-height: 100%;
}

.main_header {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.home .main_header {
  -webkit-animation: header2default 0.3s ease;
  -o-animation: header2default 0.3s ease;
  animation: header2default 0.3s ease;
}

.works .main_header, .profile .main_header {
  background: #ecf0f1;
  /*border-bottom-right-radius: 20px;*/
  width: 180px;
  height: 60px;
  font-size: 10px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.6) 0 4px 8px;
  box-shadow: rgba(51, 51, 51, 0.6) 0 4px 8px;
  line-height: 60px;
  -webkit-animation: header2top-left 0.3s ease;
  -o-animation: header2top-left 0.3s ease;
  animation: header2top-left 0.3s ease;
}
.works .main_header:hover, .profile .main_header:hover {
  -webkit-box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
  box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
}


.main_header h1 {
  position: relative;
  top: 40%;
}

.works .main_header h1, .profile .main_header h1 {
  margin: 0;
  top: 0;
  -webkit-animation: h2top-left 0.3s ease;
  -o-animation: h2top-left 0.3s ease;
  animation: h2top-left 0.3s ease;
}

h1 a {
  color: #e74c3c;
  text-decoration: none;
  display: block;
}

footer {
  position: fixed;
  z-index: 110;
  bottom: 0;
  width: 100%;
  height: 10%;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  color: #666;
}

.twitter-share-button {
  position: fixed;
  right: 0;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

/*
 * works
 */
#works {
  display: none;
  margin-bottom: 20px;
}

.works_nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
}
.works_nav_list_item {
  width: 25%;
  margin: 10px 0;
  text-align: center;
}

.works_list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}
.works_icon_image {
  width: 60px;
  height: 60px;
}
.works_item {
  margin: 0 auto 20px auto;
  padding: 0;
  width: 96%;
  max-width: 800px;
  background: rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.5) 0 1px 2px;
  box-shadow: rgba(51, 51, 51, 0.5) 0 1px 2px;
}
.works_item_header {
  width: 100%;
  height: 150px;
  margin: 0;
  background: center no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: table;
}
.works_item_header h3 {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.5em;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 70%, rgba(51,51,51,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(30,87,153,0)), color-stop(100%,rgba(51,51,51,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 70%,rgba(51,51,51,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(30,87,153,0) 70%,rgba(51,51,51,0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(30,87,153,0) 70%,rgba(51,51,51,0.9) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 70%,rgba(51,51,51,0.9) 100%); /* W3C */
}

.works_detail {
  margin: 0;
  border-top: 3px groove rgba(51, 51, 51, 0.4);
  padding: 20px;
}
.works_detail_main {
  margin: 30px 5% 0 5%;
}

.works_detail_main p {
  line-height: 1.5em;
}

.works_link_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.works_link_item {
  background: #ecf0f1;
  margin: 10px 0;
  padding: 10px 5%;
  width: 90%;
  border-radius: 10px;
}
.works_link_item a {
  display: block;
}
.works_detail_closebutton {
  display: none;
}
.works_item.active .works_detail_closebutton {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.works_item.active .works_detail_closebutton:hover {
  opacity: 1;
}
.works_detail_closebutton img {
  width: 100%;
}

/*
 * profile
 */
#profile {
  display: none;
  margin-bottom: 30px;
}

#profile #icon {
  width: 100px;
  height: 100px;
}

#profile .column-wrap {
  width: 100%;
  text-align: center;
}

#profile .column {
  width: 100%;
}

#profile ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 300px;
}

#profile ul > li {
  margin: 10px;
  padding: 10px;
  background: #ecf0f1;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


#profile ul > li > a {
  display: block;
  font-size: 18px;
}
#profile ul > li > a > span {
  display: none;
}



img.circle {
  border-radius: 100%;
}

.shadow {
  -webkit-box-shadow: rgba(51, 51, 51, 0.6) 0 3px 6px;
  box-shadow: rgba(51, 51, 51, 0.6) 0 3px 6px;
}

.shadow:hover {
  -webkit-box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
  box-shadow: rgba(51, 51, 51, 0.8) 0 1px 2px;
}


@media screen and (min-width : 480px){

@-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}

@-webkit-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}  
  .main_header {
    font-size: 22px;
  }
  .works .main_header, .profile .main_header {
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  .works_nav_list_item {
    width: 20%;
  }
  .works_item_header {
    height: 200px;
  }
  
}


@media screen and (min-width : 768px){

  @-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
}

@-webkit-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}  
@-webkit-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
  
@-o-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
@-moz-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
@keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
  
  .main_header {
    font-size: 42px;
  }
  .works .main_header, .profile .main_header {
    font-size: 24px;
    width: 420px;
    height: 80px;
    line-height: 80px;
  }
  .main_header h1 {
    top: 30%;
  }
  .works .main_header h1, .profile .main_header h1 {
    top: 0;
  }

  .works_nav {
    width: 10%;
  }
  .works_nav_list {
    width: 100%;
  } 
  .works_nav_list_item {
    width: 100%;
  }
  .works_list {
    width: 80%;
  }
  .works_item_header {
    height: 250px;
  }
  
  .column-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
  
  #profile #icon {
    width: 150px;
    height: 150px;
  }

  #profile ul {
    display: block;
    text-align: left;
  }

  #profile ul > li {
    margin: 10px;
    padding: 0 15px;
    width: 260px;
    border-radius: 20px;
  
  }


  #profile ul > li > a > span {
    margin-left: 15px;
    display: inline;
  }

  
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
