/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #999;
    text-shadow: none;
}

::selection {
    background: #999;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  to { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
}

@-webkit-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@-o-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@-moz-keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}
@keyframes h2top-left {
  from { 
    top: 40%;
  }
  to { 
    top: 0;
  }
}


@-webkit-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
@keyframes header2default {
  from { 
    width: 180px;
    height: 60px;
    font-size: 10px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}



html, body {
  height: 100%;
  font-family: 'Nova Mono', "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, cursive;
}

html {
  overflow-y: scroll;
}

body {
  backgroud: #ecf0f1;
}

a {
  color: #333;
}

nav {
  background: url(../img/bg.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10000;
  top: 30px;
  right: 30px;
  width: 140px;
  height: 140px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

nav > ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  
}

nav > ul > li {
  margin: 0;
  padding: 0;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

li.nav_home {
}
li.nav_works {
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
li.nav_profile {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

nav > ul > li > a {
  margin-top: 10px;
  padding: 5px 0;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.page {
  position: absolute;
  top: 0;
  width: 100%;
}

.page_inner {
  width: 90%;
  padding: 0 5%;
}

body {
  min-height: 100%;
}

body, body.home {
  background: #ecf0f1;
}

body.works {
  background: #2980b9;
}

body.profile {
  background: #e74c3c;
}

/*
 * home
 */
#home {
  min-height: 100%;
}

header {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.home header {
  -webkit-animation: header2default 0.3s ease forwards;
  -o-animation: header2default 0.3s ease forwards;
  animation: header2default 0.3s ease forwards;
}

.works header, .profile header {
  background: #ecf0f1;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.6) 1px 2px 4px;
  box-shadow: rgba(51, 51, 51, 0.6) 1px 2px 4px;
  line-height: 60px;
  -webkit-animation: header2top-left 0.3s ease forwards;
  -o-animation: header2top-left 0.3s ease forwards;
  animation: header2top-left 0.3s ease forwards;
}
.works header:hover, .profile header:hover {
  -webkit-box-shadow: rgba(34, 34, 34, 0.8) 1px 2px 1px;
  box-shadow: rgba(34, 34, 34, 0.8) 1px 2px 1px;
}


header h1 {
  position: relative;
  top: 40%;
}

.works header h1, .profile header h1 {
  margin: 0;
  -webkit-animation: h2top-left 0.3s ease forwards;
  -o-animation: h2top-left 0.3s ease forwards;
  animation: h2top-left 0.3s ease forwards;
}

h1 a {
  color: #e74c3c;
  text-decoration: none;
  display: block;
}

footer {
  position: fixed;
  z-index: 110;
  bottom: 0;
  width: 100%;
  height: 10%;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  color: #666;
}

.twitter-share-button {
  position: fixed;
  right: 0;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

/*
 * works
 */
#works {
  display: none;
  margin-bottom: 20px;
}

#works ul.works_list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

#works li.works_item {
  margin: 0 2% 4% 2%;
  padding: 2%;
  width: 42%;
  border-radius: 20px;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  -o-order: 1;
  order: 1;
}
#works h3 {
  text-align: center;
  margin: 0 auto;
}
.works_icon_image {
  width: 80%;
  height: 80%;
}

#works h4 {
  line-height: 1.5em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

#works .works_link_list {
  
}

#works .works_detail {
  display: none;
}
#works .works_item.active .works_detail {
  display: block;
}


/*
 * profile
 */
#profile {
  display: none;
  margin-bottom: 30px;
}

#profile #icon {
  width: 100px;
  height: 100px;
}

#profile .column-wrap {
  width: 100%;
  text-align: center;
}

#profile .column {
  width: 100%;
}

#profile ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 300px;
}

#profile ul > li {
  margin: 10px;
  padding: 10px;
  background: #ecf0f1;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


#profile ul > li > a {
  display: block;
  font-size: 18px;
}
#profile ul > li > a > span {
  display: none;
}



img.circle {
  border-radius: 100%;
}

.shadow {
  -webkit-box-shadow: rgba(51, 51, 51, 0.6) 2px 2px 4px;
  box-shadow: rgba(51, 51, 51, 0.6) 2px 2px 4px;
}

.shadow:hover {
  -webkit-box-shadow: rgba(34, 34, 34, 0.8) 2px 2px 1px;
  box-shadow: rgba(34, 34, 34, 0.8) 2px 2px 1px;
}


@media screen and (min-width : 480px){

@-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  to { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}

@-webkit-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}
@keyframes header2default {
  from { 
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
}  
  header {
    font-size: 22px;
  }
}


@media screen and (min-width : 768px){

  @-webkit-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
}
@-o-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
}
@-moz-keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
}
@keyframes header2top-left {
  from { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
  to { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
}

@-webkit-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@-o-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@-moz-keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}
@keyframes header2default {
  from { 
    width: 420px;
    height: 80px;
    font-size: 24px;
  }
  to { 
    width: 100%;
    height: 100%;
    font-size: 42px;
  }
}  
@-webkit-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
  
@-o-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
@-moz-keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
@keyframes h2top-left {
  from { 
    top: 30%;
  }
  to { 
    top: 0;
  }
}
  
  header {
    font-size: 42px;
  }
  header h1 {
    top: 30%;
  }
  .works header h1, .profile header h1 {
    margin: 0;
  }

  #works li.works_item {
    width: 17%;
  }

  .works_icon_image {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
  }
  
  .column-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
  
  #profile #icon {
    width: 150px;
    height: 150px;
  }

  #profile ul {
    display: block;
    text-align: left;
  }

  #profile ul > li {
    margin: 10px;
    padding: 0 15px;
    width: 260px;
    border-radius: 20px;
  
  }


  #profile ul > li > a > span {
    margin-left: 15px;
    display: inline;
  }

  
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
