@charset "utf-8";
* {
	margin:0;
	padding:0;
}
.clearfix{
	clear:both;
}
html, body {
	background-color:#222;
	height:100%;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#wrapper {
	width:90%;
	max-width:1000px;
	min-width:800px;
	height:100%;
	height:auto !important;
	min-height:100%;
	position:relative;
	margin:auto;
}
#container {
	padding-top:50px;
	padding-bottom:70px;
}
#content {
	float:left;
	width:68%;
}
#content p {
	font-size:32px;
	color:#CCC;
}
#h {
	margin-top:20px;
	float:right;
}
#h2 {
	float:right;
	margin-right:50px;
}
#content h1 {
	font-size:80px;
	color:#33b5e5;
}
#content h2 {
	font-size:30px;
	color:#FFF;
}
#content h2 a {
	color:#FFF;
}
#content h3 {
	margin-top:20px;
	width:100%;
	text-align:center;
}
#textContent {
	width:100%;
}
#imageContent {
	float:right;
	width:30%;
	min-width:240px;
}
#imageContent img{
	width:100%;
}
#footer {
	height:50px;
	position:absolute;
	bottom:0;
	width:100%;
	border-top:solid 1px #666;
	padding-top:10px;
	padding-bottom:10px;
}
#twitter {
	float:right;
}
#copyright {
	position:relative;
	margin:auto;
}
#copyright p {
	width:100%;
	text-align:center;
	color:#CCC;
}