---
layout: default
---
 
<nav class="main_nav">
  <ul class="main_nav_list main-nav">
    <li class="main_nav_list_item nav_home"><a href="#page=home"><p>home</p></a></li>
    <li class="main_nav_list_item nav_works"><a href="#page=works"><p>works</p></a></li>
    <li class="main_nav_list_item nav_profile"><a href="#page=profile"><p>profile</p></a></li>
  </ul>
</nav>

<div id="wrapper">
  
  <header class="main_header">
    <h1><a href="//neoneobeam.com">neoneobeam.com</a></h1>
  </header>
  <div id="home" class="page">
      <footer>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="noir_neo" data-lang="ja">ツイート</a>
        <small>&copy; neo.</small>
      </footer>
  </div>

  <section id="works" class="page">
      <div class="page_inner">
        <h2>works</h2>
        <div class="works_section flex wrap">
          <nav class="works_nav">
            <ul class="works_nav_list flex wrap">
            {% for work in site.data.works %}
              <li class="works_nav_list_item">
                <a href="#works={{ work.id }}">
                  <img src="img/works/{{ work.id }}/icon.png" alt="{{ work.title }}のアイコンです。" class="works_icon_image circle shadow">
                </a>
              </li>
            {% endfor %}
            </ul>
          </nav>
          <div class="works_main">
            <ul class="flex wrap works_list">
            {% for work in site.data.works %}
              <li class="works_item" id="works-{{ work.id }}">
                <article class="works_item_article">
                  <header class="works_item_header flex" style="background-image:url('img/works/{{ work.id }}/header.jpg');">
                    <h3>{{ work.title }}</h3>
                  </header>
                  <section class="works_detail">
                    {% if work.description %}
                      {% for p in work.description %}
                        <p>{{ p }}</p>
                      {% endfor %}
                    {% endif %}
                    {% if work.images %}
                      <ul class="works_image_list flex wrap">
                        {% for image in work.images %}
                          <li class="works_image_item shadow">
                            <a href="img/works/{{ work.id }}/{{ image }}" rel="{{ work.id }}" class="swipebox" title="{{ image.title  }}">
                              <img src="img/works/{{ work.id }}/{{ image }}" alt="{{ image.title }}">
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    {% if work.links %}
                      <ul class="works_link_list flex wrap">
                        {% for link in work.links %}
                          <li class="works_link_item shadow"><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </section>
                </article>
              </li>
            {% endfor %}
            </ul>
            <a href="#page=works" class="scrollToTop"><img src="img/toTop.svg" alt="ページトップへ" class="circle  shadow"></a>
          </div>
        </div>
        <footer>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="noir_neo" data-lang="ja">ツイート</a>
          <small>&copy; neo.</small>
        </footer>
      </div>
  </section>

  <section id="profile" class="page">
      <div class="page_inner">
        <h2>profile</h2>
        <div class="profile_section column-wrap">
          <div class="column">
            <h3><span>neo / Shoma SATO</span></h3>
            <img id="icon" class="circle" src="img/profile/icon.png">
            <p>
              デザイン系大学3年生
            </p>
            <p>
              作るものは Web とか Android アプリとかゲームとか
            </p>
            <p>
              UI / UX デザインとプログラミング、コーヒーと甘いものが好き
            </p>
          </div>
          <div class="column" id="accounts">
            <ul class="flex">
              <li class="shadow">
                <a href="//twitter.com/noir_neo" target="_blank"> <img src="img/profile/twitter.png"><span>Twitter: @noir_neo</span></a>
              </li>
              <li class="shadow">
                <a href="//github.com/noir-neo" target="_blank"> <img src="img/profile/github.png"><span>GitHub: noir-neo</span></a>
              </li>
              <li class="shadow">
                <a href="//play.google.com/store/apps/developer?id=neo" target="_blank"> <img src="img/profile/googleplay.png"><span>Google play: neo</span></a>
              </li>
            </ul>
          </div>
        </div>
        <footer>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="noir_neo" data-lang="ja">ツイート</a>
          <small>&copy; neo.</small>
        </footer>
      </div>
  </section>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
</script>
<script src="js/vendor/fastclick.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/vendor/jquery.easing.1.3.js"></script>
<script src="js/vendor/jQueryRotate.js"></script>
<script src="js/vendor/jquery.swipebox.min.js"></script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script src="js/main.js"></script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] ||
    function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-41950579-1', 'neoneobeam.com');
  ga('send', 'pageview');
</script>
