<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>neoneobeam.com - neoのポートフォリオサイト</title>
  <meta name="description" content="neoneobeam.comは、neoのポートフォリオサイトです。プロフィールと制作物を掲載しています。">
  <meta name="keywords" content="neo,noir_neo,ねお,佐藤翔馬,ポートフォリオ">
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="neoneobeam.com - neoのポートフォリオサイト"/>
  <meta property="og:description" content="neoneobeam.comは、neoのポートフォリオサイトです。プロフィールと制作物を掲載しています。" />
  <meta property="og:image" content="http://neoneobeam.com/img/og-image.png" />
  <meta property="og:url" content="http://neoneobeam.com" />
  <meta property="og:site_name" content="neoneobeam.com"/>
  <meta property="og:locale" content="ja_JP" />
  <meta content="summary" name="twitter:card" />
  <meta content="@noir_neo" name="twitter:site" />
  
  <link rel="canonical" href="http://neoneobeam.com/" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/swipebox.min.css" | prepend: site.baseurl }}">
  <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src="{{ "js/vendor/modernizr-2.8.0.min.js" | prepend: site.baseurl }}"></script>
</head>