#main > article h3 {
  display: none;
}
#main > article ol {
  list-style-type: none;
  display: flex;
  font-size: .8em;
  color: #fff;
  padding: 0;
  /*padding-right: 1.5em;*/
}
#main > article ol li {
  margin: 0;
  padding: 0;
  width: 25%;
  min-height: 3em;
  line-height: 3em;
  /*background: #867a6c;*/
  background: url("/img/fee-reservation/nav_02.png") no-repeat center center;
  background-size: contain;
  text-align: center;
  position: relative;
}
#main > article ol li a {
  color: #fff;
}
#main > article ol li:first-child {
  background-image: url("/img/fee-reservation/nav_01.png");
}
#main > article ol li#active {
  background-image: url("/img/fee-reservation/nav_02_active.png");
}
#main > article ol li#:first-child {
  background-image: url("/img/fee-reservation/nav_01_active.png");
}
/*
#main > article ol li#active {
  background: #49423a;
}
#main > article ol li:not(:first-child)::before {
  content: "";
  border: transparent solid 1.5em;
  border-color: #867a6c transparent #867a6c transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  margin-left: -1.5em;
}

#main > article ol li::after {
  content: "";
  border: transparent solid 1.5em;
  border-left-color: #867a6c;
  height: 0;
  width: 0;
  position: absolute;
  left: 100%;
}
#main > article ol li#active:not(:first-child)::before {
  border-color: #49423a transparent #49423a transparent;
}
#main > article ol li#active::after {
  border-left-color: #49423a;
}
*/
.btn {
  
  font-size: 1.2em;
}
.btn a {
  display: block;
  text-align: center;
  min-height: 3em;
  width: 80%;
  margin: 0 auto;
  line-height: 3em;
  background: #1b9594;
  color: #fff;
}
.btn a:first-child {
  margin-bottom: 20px;
}

form {
  position: relative;
}
.form {
  border: 1px solid #001b19;
  margin-top: 20px;
}

.title_box {
  border-bottom: 1px solid #001b19;
  background: rgba(0, 27, 25, .8);
  color: #fff;
  padding: 10px 20px;
  display: flex;
}
.title_box h4 {
  margin: 0;
  width: 50%;
}
.radio {
  margin: 0;
  width: 50%;
  text-align: right;
}
.radio input {
  margin: 0 5px 0 10px;
}
.input_box {
  padding: 10px 20px;
}
.input_box span.requisite {
  color: #c03;
}
.input_box input {
  margin: 0 10px;
}
.input_box input[type="radio"] {
  margin: 0;
  margin-right: 10px;
}
.input_box input[name="single_room"] {
  margin: 0;
  margin-right: 10px;
  margin-left: 20px;
}
.input_box input[type="checkbox"] {
  margin: 0;
  margin-right: 10px;
}
.grid label {
  display: inline-block;
  width: 100%;
}

textarea {
  width: 100%;
}

.sum_box_top {
  background: #002420;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
}
.sum_box_bottom {
  margin-top: 20px;
}
.sum_box_top p {
  font-size: 1.2em;
}
.sum_box_top p:nth-child(2) {
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.sum_box_top p span {
  margin: 0 20px;
}
.sum_box_bottom p {
  font-size: 1.2em;
  border-bottom: 1px solid #001b19;
  text-align: center;
  margin: 0 10%;
}
.sum_box_bottom p span {
  margin: 0 10px 0 30px;
}
.submit, .back {
  display: block;
  text-align: center;
  min-height: 2.4em;
  line-height: 2.4em;
  background: #006861;
  color: #fff;
  border: none;
}
.sum_box_top .submit {
  margin: 0 auto;
  width: 120px;
}
.sum_box_bottom .submit, .sum_box_bottom .back {
  margin: 10px auto 0 auto;
  width: 80%;
}
.hide {
  display: none;
}

@media screen and (min-width : 768px){
  #main > article ol {
    font-size: 1.2em;
  }
  .btn {
    display: flex;
    justify-content: space-around;
  }
  .btn a {
    width: 40%;
    margin: 0;;
  }
  .btn a:first-child {
    margin-bottom: 0;
  }
  .grid label {
    width: 40%;
  }
  
  .sum_box_top {
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
  .num {
    width: 390px;
  }
  .sum_box_bottom {
    display: flex;
  }
  .sum_box_bottom p {
    width: 380px;
    order: 2;
  }
  .sum_box_bottom .submit {
    width: 120px;
    margin: 0;
    order: 3;
  }
  .sum_box_bottom .back {
    width: 120px;
    margin: 0;
    order: 1;
  }
  
}