#map {
  width: 100%;
}
#map, map {
  display: none;
}
#icon {
  height: auto;
}
#icon img {
  
}
#institutions {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  
}
#institutions li {
  width: 100%;
  background: #001b19;
  color: #fff;
  text-align: center;
  border: 2px solid #001b19;
  border-bottom: none;
  box-sizing: border-box;
  margin-top: 20px;
}
#institutions li:first-child {
  margin-top: 0;
}
#institutions li img {
  width: 100%;
}
#institutions li a {
  color: #fff;
}
area {
  border: 1px solid #333;
}


@media screen and (min-width : 768px){
  #map, map {
    display: block;
  }
  ul#institutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul#institutions li {
    width: 280px;
  }
  #institutions li:nth-child(-n+2) {
    margin-top: 0;
  }
  
  
}