
#images {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  
}
#images li {
  width: 100%;
  background: #001b19;
  color: #fff;
  text-align: center;
  border: 7px solid #001b19;
  box-sizing: border-box;
  border-bottom: none;
  margin-bottom: 15px;
}
#images li img {
  width: 100%;
}
#images li a {
  color: #fff;
}

table {
  width: 100%;
  border: 2px solid #001b19;
  border-collapse: collapse;
  text-align: center;
}
tr:first-child {
  height: 3em;
  background: rgba(0, 27, 25, .8);
  border: 2px solid #001b19;
  color: #fff;
}
th, td {
  height: 2em;
  border: 1px solid #001b19;
}

.btn {
  font-size: 1.2em;
}
.btn a {
  display: block;
  text-align: center;
  min-height: 3em;
  width: 80%;
  margin: 0 auto;
  line-height: 3em;
  background: #1b9594;
  color: #fff;
}
.btn a:first-child {
  margin-bottom: 20px;
}


@media screen and (min-width : 768px){
  ul#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul#images li {
    width: 170px;
  }
  .btn {
    display: flex;
    justify-content: space-around;
  }
  .btn a {
    width: 40%;
    margin: 0;;
  }
  .btn a:first-child {
    margin-bottom: 0;
  }
}