@charset "utf-8";
* {
	margin:0;
	padding:0;
}
.clearfix{
	clear:both;
}

body{
	background-image:url(images/dark_dotted.png)
}
a img{
	border-style:none;
}
#wrapper{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}
#header{
	background-image:url(images/starring.png);
	color:#FFF;
	padding-top:45px;
	border-bottom:#FFF solid 3px;
}
#logo{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
#logo h1{
	font-size:60px;
	text-align:center;
}
#logo p{
	text-align:center;
	margin-top:20px;
}
#nav{
	float:right;
	margin-top:35px;
	margin-bottom:10px;
	margin-right:10px;
}
#nav li{
	list-style-type:none;
	float:left;
	margin-right:5px;
}
#nav a{
	display:block;
	width:140px;
	height:40px;
}
#navTop a{
	background:url(images/navTop.png) no-repeat 0 0;
}
#navManual a{
	background:url(images/navManual.png) no-repeat 0 0;
}
#navFaq a{
	background:url(images/navFaq.png) no-repeat 0 0;
}
#navUpdates a{
	background:url(images/navUpdates.png) no-repeat 0 0;
}
#navTop_c a{
	background:url(images/navTop_c.png) no-repeat 0 0;
}
#navManual_c a{
	background:url(images/navManual_c.png) no-repeat 0 0;
}
#navFaq_c a{
	background:url(images/navFaq_c.png) no-repeat 0 0;
}
#navUpdates_c a{
	background:url(images/navUpdates_c.png) no-repeat 0 0;
}
#nav a:hover{
	background-position:0 bottom;
}
#mainContents{
	padding-top:10px;
	margin-bottom:0;
	padding-left:30px;
	padding-right:30px;
}
#mainContents h2{
	font-size:28px;
	color:#333;
}
.content{
	padding-top:30px;
	padding-bottom:30px;
	padding-left:50px;
	padding-right:50px;
	border-bottom:#CCC solid 1px;
}
.content h2{
	margin-top:20px;
	margin-bottom:20px;
	font-size:28px;
	color:#333;
}
.content h3{
	font-size:22px;
	color:#333;
}
.content h4{
	font-size:18px;
	color:#444;
}
.content p{
	font-size:18px;
	line-height:1.5;
	color:#444;
}
.content li{
	list-style-type:none;
	margin-top:10px;
	margin-bottom:20px;
}
.content li p{
	margin-left:30px;
	margin-top:10px;
}
.content li li{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	list-style-type:disc;
	font-size:16px;
	color:#444;
}
.content li li li{
	list-style-type:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
	font-size:16px;
	color:#444;
}
#img1{
	width:400px;
	float:left;
	text-align:center;
}
#text1{
	width:400px;
	float:right;
	text-align:center;
}

#img2{
	width:400px;
	float:right;
	text-align:center;
}
#text2{
	width:400px;
	float:left;
	text-align:center;
}

#img3{
	width:400px;
	float:left;
	text-align:center;
}
#text3{
	width:400px;
	float:right;
	text-align:center;
}

#img4{
	width:400px;
	float:right;
	text-align:center;
}
#text4{
	width:400px;
	float:left;
	text-align:center;
}

#img5{
	width:400px;
	float:left;
}
#text5{
	width:400px;
	float:right;
	text-align:center;
}

#img6{
	width:400px;
	float:right;
	text-align:center;
}
#text6{
	width:400px;
	float:left;
	text-align:center;
}
#contentFaq{
	width:470px;
	float:left;
	margin-right:30px;
}

#contentTweets{
	width:300px;
	float:right;
}
#footer{
	padding-top:20px;
	padding-bottom:20px;
	color:#666;
}
#share{
	float:right;
}
#share li{
	display:inline;
	list-style-type:none;
}
#copyrights p{
	text-align:center;
}
